.problems-block {
  display: flex;
}

.problems-item {
  min-height: 100px;
  background-color: white;
  padding: 20px;
  color: #000;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;
}

.problems-item:hover {
  background-color: rgb(247, 247, 247);
  color: #000;
  transition: 0.2s all ease-in-out;
}

.problems-content {
  width: 93%;
  margin-right: 10px;
}

.problems-item:hover {
  color: #000;
}

.problems-item h4 {
  font-weight: bold;
}

.problems-btns {
  margin: auto;
}

.problems-btns button {
  width: 150px;
  display: block;
  margin-bottom: 5px;
}
