.problem-container {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.problem-createdAt {
  display: block;
}

.admin-comment-input .dropdown {
  margin-top: 2px;
}
